.images-item {
  border-radius: 4px;
  background-color: red;
}

.validation-input {
  width: 200px;
  height: 25px;
  border: 6px solid #bdbdbd;
}

.validation-input.valid {
  border: 6px solid #4caf50;
}

.validation-input.invalid {
  border: 6px solid #f44336;
}

h3 {
  color: saddlebrown;
  border: red;
}

.list-img li {
  list-style: none;
  justify-content: center;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.list-img {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  background-color: tomato;
}
